body{

    width: 100%;
    background-image: url("images/gravel.png");
    margin: 0;
}


h1{

    background-color: #4aaaa5;
    color: white;
    margin: 0;
    padding: 15px;
    border: 0;
    font-weight: bold;
}

.menu{

    padding:0;

}

#mainContainer h1{

    background-color: white;
    font-weight: bold;
    color: #4aaaa5;
    margin-left:0;
    padding:0;

}

.navbar{

    padding: 0!important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 3px solid gray;
    margin-bottom: 25px;
}

.navbar-brand {


    padding:0;
}

#mainContainer{

    background-color:white;
    margin-bottom: 100px;
}

.container > .row > .col-md{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom:5px solid #DCDCDC;
    padding: 15px;
    margin-bottom: 15px;

}


#profilePic{

    float:left;
}

#imgcontainer{

    padding-right: 20px;
    padding-top: 28px;
    padding-left: 50px;
    padding-bottom: 15px;
    float: left;
    position: relative;
   
  
 
 }

 #tag{

    float: left;
    position: absolute;
    bottom: 30px;
    padding: 15px;
    padding-right: 68px;
    padding-left: 63.5px;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    font-size: 22px;
}

#tag_rps{

    float: left;
    position: absolute;
    bottom: 30px;
    padding: 15px;
    padding-right: 84px;
    padding-left: 84px;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    font-size: 22px;
}

#tag_sushi{

    float: left;
    position: absolute;
    bottom: 30px;
    padding: 15px;
    padding-right: 69px;
    padding-left: 69px;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    font-size: 22px;
    
}

#tag_hangman{

    float: left;
    position: absolute;
    bottom: 30px;
    padding: 15px;
    padding-right: 55px;
    padding-left: 55px;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    font-size: 22px;
    
}



footer{

  
    background-color: #666666; 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-top: 5px solid #4aaaa5;
    font-size: 14px;
    padding-bottom: 25px;


}
